<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>OOPS! We can't find that page ...</p>
        {{>footer}}
    </body>

</html>