<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <img src="/img/profile-picture.png" alt="">
        <h3>Created by: {{name}}</h3>
        {{>footer}}
    </body>

</html>